*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#container{
    /* border: 1px solid #000000; */
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
#display{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}
#heading{
    font-size: 50px;
    color: red;
}
.btn{
     font-size: 20px;    
     padding: 10px;
     margin: 10px;
     border-radius: 15px;
     border: none;
     background-color: #000000;
     color: #fff;
}
